@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(path/to/MaterialIcons-Regular.woff2) format("woff2"),
    url(path/to/MaterialIcons-Regular.woff) format("woff"),
    url(path/to/MaterialIcons-Regular.ttf) format("truetype");
}

:root {
  /* gmarket 폰트 제외 body3_tt값과 동일 */
  --Gmaket_Sans: 'Gmarket Sans';
  --Score_dream: 'S-Core Dream';
  --Qwitcher_Grypen: 'Qwitcher Grypen';
  --font_size: 20px;
  --font_weight: lighter;
  --line_height: 30px;
  
  /* sm_pd 기준 */
  --padding: 30px;

  /* color */
  --white: #ffffff;
  --light_g1: #14161E;
  --light_g2: #555555;
  --light_g3: #A1A1A1;
  --black: #000000;
  --main_color: #0069ff;
  --sub_color1: #F69311;
  --sub_color2: #8A77E5;
  --sub_color3: #F7B0DA;
}

.white {
  color: var(--white);
}
.light_g1 {
  color: var(--light_g1);
}
.light_g2 {
  color: var(--light_g2);
}
.light_g3 {
  color: var(--light_g3);
}
.black {
  color: var(--black);
}
.main_color {
  color: var(--main_color);
}
.sub_color1 {
  color: var(--sub_color1);
}
.sub_color2 {
  color: var(--sub_color2);
}
.sub_color3 {
  color: var(--sub_color3);
}
.white_bg {
  background: var(--white);
}
.light_g1_bg {
  background: var(--light_g1);
}
.light_g2_bg {
  background: var(--light_g2);
}
.light_g3_bg {
  background: var(--light_g3);
}
.black_bg {
  background: var(--black);
}
.main_color_bg {
  background: var(--main_color);
}
.sub_color1_bg {
  background: var(--sub_color1);
}
.sub_color2_bg {
  background: var(--sub_color2);
}
.sub_color3_bg {
  background: var(--sub_color3);
}
/* layout */

.container {
  width: 1272px;
  margin: 0 auto;
}


* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* padding */
.big_pd {
  padding-bottom: calc(var(--padding) * 5);
}
.m_pd {
  padding-bottom: calc(var(--padding) * 3);
}
.sm_pd {
  padding-bottom: var(--padding);
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}