
.start{
  position: relative;
}
.start_slider_container{
  width:1320px;
	margin-top:50px;
	height: 500px;
  position: relative;
  overflow: hidden;
}
.start_slideWrap h2{
  padding-bottom: 7px;
}
.start_slides .sub_field{
  height: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
}
.start_slides .sub_width{
  height: 60px;
  line-height: 60px;
  text-align: center;
  top: 0;
}
.start_slide_wrapper{
  position: absolute;
  height: 500px;width:100%;
	left:0;
}
.start_slide_wrapper.animated{
	transition:left 0.5s ease-out;
}
.start_slide_wrapper .start_slides{
  display: flex;

  position: absolute;
  height: 500px;
  width:100%;
}
.start_slide_wrapper .start_slides > div{
	width: 25%;
	flex:1;
	transition:0.3s;
  box-sizing: margin-box;
  margin-right: 8px;
}
.start_slide_wrapper .start_slides > div:hover{
	flex:2;
}
.start_controls{
	position: absolute;
	top:150px;
	right:0;
	font-size:calc(var(--font_size)*1.2);
	cursor:pointer;
}
.start_controls span{
	margin:0 10px;
}
.start .coverImg1{
	background: url(../img/sub2_slide_img1.png) no-repeat center center/cover;
}
.start .coverImg2{
	background: url(../img/sub2_slide_img2.png) no-repeat center center/cover;
}
.start .coverImg3{
	background: url(../img/sub2_slide_img3.png) no-repeat center center/cover;
}
.start .coverImg4{
	background: url(../img/sub2_slide_img4.png) no-repeat center center/cover;
}
.start .coverImg5{
	background: url(../img/sub2_slide_img4.png) no-repeat center center/cover;
}
.start .start_slides > div{
  position: relative;
}
.start video{
  top: 0;
  left: 0;
  display: block;
	position: absolute;
	display: none;
  width: 100%;
  height: 100%;
}
.start .start_slides > div:hover{
	display: none;
}
.start .start_slides > div:hover video{
	display: block;
  object-fit: cover;
}