/* header */

header{
  background:var(--white);
  height: 150px;
  z-index: 9999;
  position: relative;
}
header .top_menu{
  position: relative;
  height: 100px;
  box-sizing: border-box;
}
header .top_menu h1 a{
  background: url(../img/Logo.png)no-repeat;
  text-indent: -1000em;
  display: block;
  width: 189px;
  height: 62px;
}
header legend{
  display: none;
}
header legend #keyword{
  margin-left: 50px;
}
header .top_menu .open_search{
  width: 600px;
  height: 45px;
  background-color: #F7F8F9;
  border-radius: 5px;
}
header .top_menu .open_search .fa-solid{
  color: var(--light_g3);
  font-size: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
header .top_menu .open_search input{
  color: var(--light_g3);
  font-weight: 500;
  margin-left: 50px;
  width: 100%;
}

header .top_menu .icon{
  gap: 15px;
}


header .bottom_menu{
  width: 100%;
  background:linear-gradient( #fff 60px,rgba(255,255,255,.8) 60px);
  transition: 0.3s;  
  overflow: hidden;
  height: 60px;
  position: absolute;
}
header .bottom_menu .bottom_list{
  height: 61px;
  border-bottom: 1px var(--sub_color2) solid ;
}
header .bottom_menu .menu_list{
  /* gap:var(--padding); */
  line-height: 60px;
  text-align: center;
}
header .bottom_menu .menu_list li{
  padding: 0 15px 0 15px;
}
header .bottom_menu .menu_list li ul{
  line-height: calc(var(--padding)*1.5);
}
header .bottom_menu .menu_list li ul li a{
  display: block;
}
header .bottom_menu.sticky{
  position: fixed;
  top:0;
}


/* sec1 */

.sec1 {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  color: var(--white);
}
.sec1 .sec1_img{
  width: 100%;
}
.sec1 .sec1_ob{
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: -100px;
  left: 0;
  right: 0;
}
.sec1_video_slide {
  height: 100%; 
  overflow: hidden; 
  position: relative;
}
.swiper{
  height:800px;
}
.swiper-slide {
  overflow: hidden;
}
.sec1_fullbg {
  position: absolute;
}
.sec1 .nbtn{
  color: var(--white);
  border: 1px solid var(--white);
}
.sec1 .nbtn:hover{
  background-color: var(--white);
  color: var(--navy);
}
.swiper-slide video {
  position: absolute; 
  height: 100%; 
}
.sec1_text {
  position: absolute; 
  z-index: 5;
  left: 50%; 
  bottom: 30%; 
  transform: translateX(-50%);
}
.sec1_text h3 {
  font-size: 80px; 
  font-weight: 700;
}
.sec1_text p {
  font-size: 24px; 
  padding: 30px 0 42px;
}
.sec1_text .nbtn a {
  font-size: 16px;
}
.swiper-scrollbar.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 400px; 
  height: 15px;
  position: static;
  font-size: 30px;
}
.swiper-scrollbar-drag {
  background: var(--white);
  border-radius: 10px; 
}  
.sec1_prev, .sec1_next {
  /* cursor: pointer; 
  position: relative; 
  left:0; 
  bottom:0;
  z-index: 1; */
  display: none;
}
.sec1_controls {
  position: absolute; 
  display: flex;  
  bottom: 50px; 
  right: 20%;
}


.moving{
  height: calc(var(--padding)*1.5);
  line-height: calc(var(--padding)*1.5);
  background-color: var(--sub_color3);
  color: var(--white);
}


/* sec2 */



.sec2{
  position: relative;
  width: 1245px;
  margin: 0 auto;
}
.sec2 h3{
  font-weight: bold;
  color: var(--light_g2);
  font-size: 20px;
  padding: 15px 0 5px 0;
}
.sec2 .step{
  text-transform: uppercase;
  font-size: 16px;
  color: var(--light_g3);
  padding-bottom: calc(var(--padding)*.5);
}
.sec2_slider_container{
  width: 1245px;
	margin-top:calc(var(--padding)*2);
	height: 540px;
  position: relative;
  overflow: hidden;
}
.sec2_slide_wrapper{
  position: absolute;
	left:0;
}
.sec2_slide_wrapper.animated{
	transition:left 0.5s ease-out;
}
.sec2_slide_wrapper .sec2_slides{
  display: flex;
  position: absolute;
  width: 1245px;
}
.sec2_slide_wrapper .sec2_slides li{
	flex:1;
}

.sec2_controls{
	position: absolute;
  display: none;
}
.sec2 .sec2_slides > div{
  position: relative;
}
.sec2 video{
  top: 0;
  left: 0;
  display: block;
	position: absolute;
	display: none;
  width: 100%;
  height: 100%;
}

.sec2 .sec2_slides > div:hover{
	display: none;
}
.sec2 .sec2_slides > div:hover video{
	display: block;
  object-fit: cover;
} 



/* sec3 */

.sec3 .title p,
.sec3 .title h2{
  text-align: center;
}
.sec3 .blist ul{
  gap: var(--padding);
}
.sec3 .blist .nbtn{
  border: 1px solid var(--sub_color2);
  line-height: 20px;
  color: var(--sub_color2);
}
.sec3 .blist .nbtn:hover{
  color: var(--white);
  background-color: var(--sub_color2);
}
.sec3 .blist .nbtn a{
  display: block;
  transform: translateY(2px);
}
.sec3 .sizeCt img{
  width: 300px;
  height: 300px;
}

/* sec4 */
.sec4 .three{
  gap: calc(var(--padding)*3);
}

.sec4 form div:first-child,
.sec4 form div:nth-child(2){
  gap: calc(var(--padding)*0.5);
}

.sec4 form #choice,
.sec4 form #out{
  /* border: 1px solid var(--sub_color2); */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  color: var(--sub_color2);
  /* padding: 0 calc(var(--padding)*0.5); */
}
.sec4 form #choice:hover,
.sec4 form #out:hover{
  color: var(--sub_color3);
}
.sec4 form .ctr{
  gap: var(--padding);
}
.sec4 form .other{
  background-color: var(--navy);
  color: var(--white);
}
.sec4 form .look{
  background-color: var(--sub_color2);
  color: var(--white);
}
.sec4 form .other a,
.sec4 form .look a{
  transform: translateY(2px);
}



/* sec5 */

.sec5{
  height: 950px;
  overflow: hidden;
}
.sec5 .container{
  gap: calc(var(--padding)*2);
}
.sec5 .Sec5_left .event{
  background-color: var(--sub_color2);
  color: var(--white);
}
.sec5 .Sec5_left .event a{
  display: block;
  transform: translateY(2px);
}
.sec5 .Sec5_right .slider_box{
  gap: 15px;
}
.sec5 .Sec5_right .sec5_slider1,
.sec5 .Sec5_right .sec5_slider2{
  gap: 15px;
}

/* sec6 */
.sec6 .title{
  text-align: center;
}
.sec6 .food_list{
  margin: 0 auto;
}
.sec6 .food_list div{
  gap: calc(var(--padding)*.5);
}

/* sec7 */

.sec7{
  margin: 0 auto;
}
.sec7 .stock{
  height: auto;
  width: 15px;
  background-color: #DABFAA;
}
.sec7 .today{
  text-align: center;
  text-transform: uppercase;
}
.sec7 .today .nbtn{
  background: var(--sub_color2);
  color: var(--white);
}
.sec7 .today .nbtn a{
transform: translateY(2px);
}
.sec7 .today span{
  color: var(--sub_color1);
}
.sec7 .news .table thead{
  line-height: 90px;
}
.sec7 .news .table tbody tr{
  line-height: 30px
}