/* header */

header{
  background: #fff;
  height: 150px;
  z-index: 9999;
  position: relative;
}
header .top_menu{
  position: relative;
  height: 100px;
  box-sizing: border-box;
}
header .top_menu h1 a{
  background: url(../img/Logo.png)no-repeat;
  text-indent: -1000em;
  display: block;
  width: 209px;
  height: 36px;
}
header legend{
  display: none;
}
header legend #keyword{
  margin-left: 50px;
}
header .top_menu .open_search{
  width: 600px;
  height: 45px;
  border-radius: 5px;
  border: 1.5px solid rgba(173, 165, 165, 0.7);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.40) 4.29%, rgba(255, 255, 255, 0.40) 95.6%), #FFF;
  background-blend-mode: soft-light, normal;
  box-shadow: 5px 5px 5px 0px rgba(203, 206, 214, 0.2) inset, -9px -9px 16px 0px rgba(250, 251, 255, 0.30) inset;
}
header .top_menu .open_search .fa-solid{
  color: var(--light_g3);
  font-size: 18px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
header .top_menu .open_search input{
  font-weight: 500;
  margin-left: 50px;
  width: 100%;
}
header .top_menu .open_search input::placeholder{
  font-family: "sans-serif";
  color: var(--light_g3);
  font-size: 16px;
}

header .top_menu .icon{
  gap: 10px;
}
header .top_menu .icon a{
  display: block;
}

/*  */
header #clbt{
  width: 65px;
}
header label {
  width: 65px;
  height: 32px;
  border-radius: 25px;
  fill: var(--Light-Text, #A1A1A1);
  box-shadow: 5px 5px 4px 0px rgba(47, 65, 82, 0.15) inset, -5px -5px 4px 0px rgba(171, 178, 194, 0.15) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: block;
  text-indent: -9999em;
  position: relative;
  transition:0.4s ease-in;
  cursor: pointer;
}
header label:after{
  content:'';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  stroke-width: 1.371px;
  stroke: rgba(0, 0, 0, 0.50);
  box-shadow: 5px 5px 5px 5px rgba(79, 85, 100, 0.2) inset;
  transition:0.2s ease-in;
}
header #wifi {
  display: none;
}
header #wifi:checked + label{
  background: #9e9d9d;
}
header #wifi:checked + label:after{
  background: var(--white);
  left: 40px;
}
header .bottom_menu{
  width: 100%;
  background:linear-gradient( #fff 60px,rgba(255,255,255,.8) 60px);
  transition: 0.3s;  
  overflow: hidden;
  height: 60px;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(185, 185, 185, 0.35);
}
header .bottom_menu .bottom_list{
  height: 61px;
  border-bottom: 1px var(--sub_color2) solid ;
}
header .bottom_menu .menu_list{
  /* gap:var(--padding); */
  line-height: 60px;
  text-align: center;
}
header .bottom_menu .menu_list li{
  padding: 0 15px 0 15px;
}
header .bottom_menu .menu_list li ul li{
  font-size: 16px;
}
header .bottom_menu .menu_list a{
  display: block;
  box-sizing: border-box;
}

header .bottom_menu .menu_list a:hover{
  color: var(--sub_color2);
}

header .bottom_menu .menu_list li ul{
  line-height: calc(var(--padding)*1.5);
}
header .bottom_menu .menu_list li ul li a{
  display: block;
}
header .bottom_menu.sticky{
  position: fixed;
  top:0;
}

/* 1320px */
@media screen and (max-width:1274px){ 
  body, *{
    width: 100%;
  }

  header .top_menu .icon{
    width: 123px;
  }
  h1{
    width: 210px;
  }
  header .bottom_menu .menu_list{
    width: 600px;
    white-space: nowrap;
  }
}
@media screen and (max-width:1000px){  
  header .top_menu .open_search{
    height: 30px;
  }
  header .top_menu .open_search{
    width: 400px;
  }
}
@media screen and (max-width:770px){
  header .top_menu{
    gap: var(--padding);
    justify-content: center; 
  }
  header .top_menu .open_search{
    width: 280px;
  }
  header .top_menu h1{
    width: 100px;
    height: 17px;
  }
  header .top_menu h1 a{
    background: url(../img/CLogo.png)no-repeat;
    width: 100px;
    height: 17px;
  }
  header .bottom_menu .menu_list li{
    font-size: 14px;
    white-space: nowrap;
  }
  header .bottom_menu .menu_list li li a{
    font-size: 12px;
  }
  header .top_menu .open_search input::placeholder{
    font-size: 12px;
  }
}
 
/* body */

.text{
  padding-top: calc(var(--padding)*3);
}

.tab {
    position: relative; 
    z-index:1;
    width: 100%;
  }
  .tab_nav{
    margin: 0 auto;
    border: var(--light_g2) 1px solid;
    border-radius: 15px;
    width: 1200px;
    height: 45px;
    margin-bottom: calc(var(--padding)*3);
  }
  .tab_nav li {
    width: 16%;
  }
  .tab_nav li a{ 
    line-height: calc(var(--padding)*1.5);
    color: var(--light_g2);
    display: block;
    text-align: center;
  }
  .tab_nav li a.active{
    color: var(--light_g2);
  }
  /* .tab_nav li[class^="tab"]:before{
    background: url(../img/glass.png)no-repeat;
    content: '';
    position: absolute;
    width: 650px;
    height: 340px;
    opacity: .2;
    z-index: -1;
    left: -30px;
  } */
  .tab_nav li.active{
    color: var(--white);
  }
  .color{
    width: 16%;
    border-radius: 15px;
    top:0;
    left:0;
    bottom:0;
    background: rgba(129, 129, 131, 0.5);
    transition:0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

.convenient .text_list{
  width: 100%;
}
.convenient .fl{
  gap: 0 30px;
}
.convenient .text_list p{
  padding-bottom: var(--padding);
}
.convenient li{
  display: none;
}
.convenient li:active{
  color:var(--white);
}
.convenient li:first-child{
  display: block;
}

.convenient button{
  background: var(--sub_color2);
  margin: 0 auto; 
}
.convenient button a{
  color: var(--white);

}


  /* 4이미지 */
.service .title{
  text-align: center;
}
  
  .service h3{
  font-size: calc(var(--font_size)*1.25);
}

.service .list{
  gap: 20px;
}
.service .list .text h3,
.service .list .text p{
  color: var(--white);
}
.service .list > div{
  height: 480px;
  flex: 1;
  position: relative;
  transition: .7s;
}
.service .list > div:hover{
  flex: 3;
} 

.service .list > div:after{
  content: '';
  background: none;
  position: absolute;
  top:0; left:0px; right:0; bottom:0;
}
.service .list > div:not(:hover):after{
  background: rgba(0, 0, 0, .5);
}
.service .list > div a,
.service .list img{
  display: block;
  width: 100%;
  height: 100%;
}
.service .list img{
  object-fit:cover;
}
.service .list .text{
  position: absolute;
  bottom: -50px;
  left: 20px;
  right: 0;
}

.service .list > div:hover .text{
  transform: translateY(-80px);
}

.service .list .text h3{
  transform: translateY(-10px);
  padding-bottom: 30px;
}




/* footer */

footer{
  padding: calc(var(--padding)*2);
  box-shadow: 24px 24px 48px 0px #A6ABBD, -24px -24px 48px 0px #FAFBFF;
}

footer .footer-link{
  gap: calc(var(--padding)*.5);
}
footer .footer_wrap{
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 0 60px;
}
footer .footer_content a + a{
  padding-left: calc(var(--padding)*.5);
}
footer .footer_content a + a::before{
  content: '|';
  padding-right: 15px;
}
footer .footer_content a:hover{
  color: var(--sub_color1);
}
footer form{
  width: 90%;
  border: 1px solid var(--light_g3);
  margin-bottom: calc(var(--padding)*1);
}
footer form input{
  padding: 5px 15px;
  width: 70%;
}
footer form button{
  padding: 5px 15px;
  border-left: 1px solid var(--light_g3);
}
footer form button a:hover{
  color: var(--sub_color1);
}
footer h2{
  width: 210px;
  margin-bottom: var(--padding);
}
footer h2 a{
  background: url(../img/Logo.png)no-repeat;
  text-indent: -1000em;
  display: block;
  width: 209px;
  height: 36px;
}
@media screen and (max-width:1274px){
  footer form button{
    width: 120px;
  }
}
@media screen and (max-width:1000px){
  footer .footer_content {
    font-size: 16px;
  }
  footer address.p2{
    font-size: 14px;
  }
  footer .copyright{
    font-size: 14px;
  }
  footer .footer_wrap{
    display: block;
  }
}
@media screen and (max-width:770px){
  footer h2{
    margin: 0 auto;
    margin-bottom: var(--padding);
  }
  footer form{
    display: none;
  }
  footer .footer_content{
    font-size: 10px;
  }
  footer address.pd{
    font-size: 10px;
  }
  footer .copyright{
    font-size: 12px;
  }
}




@media screen and (max-width: 1320px) {
  .tab_nav{width: 100%;}
  .convenient button{
    width: 150px;
  }
}



@media screen and (max-width: 1000px) {
  .convenient .fl{flex-direction: column;}
  .service .list .text h3{
    font-size: 18px;
  }
  .service .list .text h3, .service .list .text p{
    font-size: 14px;
  }
}



@media screen and (max-width: 768px) {
  .text p, .title p{
    font-size: 20px;
  }
  .text h2, .title h2{
    font-size: 35px;
  }
  .tab li a{
    font-size: 14px;
  }
  .container{width: 90%;}
  .convenient .img_list{
    width: 80%;
    margin: 0 auto;
    padding-bottom: calc(var(--padding)*2);
  }
  .convenient .text_list p{
    font-size: 14px;
  }
  .tab li a{white-space: nowrap;}
  
  .service .list .text{
    bottom: -85px;
  }
}